li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
.Search_bar_container {
  background-color: #363634;
  width: 216px;
  height: 29px;
  border-radius: 20px;
  left: 22px;
}
.test {
  color: white;
}
.App {
  display: flex;
  flex-direction: row;
}
